@model poms_website_project_2._0.Models.ChangePasswordModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <style>
        body {
            font-family: 'Inter';
            background-color: #F5F5F5;
            margin: 0;
            overflow: hidden;
        }

        .header {
            background-color: #3E0F0F;
            color: #F5F5F5;
            height: 70px;
            padding: 0.5rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .header-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .header-row .left {
                font-size: 1.2rem;
                font-family: 'Raleway';
                font-weight: bold;
            }

            .header-row .right {
                font-size: 1.2rem;
            }

            .header-row a {
                color: #F5F5F5;
                text-decoration: none;
            }

        .mainbody-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            min-height: calc(100vh - 70px);
            padding: 2rem;
            gap: 1rem;
            margin-left: 10rem;
            margin-right: 10rem;
        }

        .mainbody_left, .mainbody_right {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: left;
        }

        .mainbody_left {
            line-height: 0rem;
        }

        .mainbody_right {
            line-height: 0rem;
        }

        ul {
            line-height: 2;
            font-size: 1.05rem;
        }

        h2 {
            font-family: 'Raleway';
            color: #811515;
        }

        p {
            font-size: 1.05rem;
        }

        .enteremail {
            border-radius: 10px;
            border: 1px solid black;
            background-color: #D9D8D8;
            padding: 20px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            gap: 10px;
            height: 275px;
            margin-bottom: 20px;
            width: 400px;
        }

        input {
            width: 350px;
            height: 20px;
            border: 1px solid black;
            border-radius: 5px;
            font-family: 'Inter';
            padding: 10px;
            font-size: 1.1rem;
        }

        .fake-button {
            background-color: #811515;
            color: white;
            padding: 1.5rem;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            text-align: center;
            user-select: none;
            transition: background-color 0.2s ease;
            font-size: 1.05rem;
            width: 200px;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }

            .fake-button:hover {
                background-color: #5A1A1A;
            }
    </style>
</head>
<body>
    <header class="header">
        <div class="header-row">
            <div class="left">Prudencia D. Fule Memorial National High School</div>
            <div class="right">Already remembered your password?</div>
        </div>
        <div class="header-row">
            <div class="left">Online Management System</div>
            <div class="right"><a href="#"><b><u>Click here to login!</u></b></a></div>
        </div>
    </header>

    <div class="mainbody-container">
        <div class="mainbody_left">
            <h2>Reset your password here</h2>
            <div class="enteremail">
                <p>Enter new password</p>
                <input asp-for="NewPassword" type="password">
                <p>Confirm new password</p>
                <input asp-for="Confirm" type="password">
                <p class="fake-button">Reset Password</p>
            </div>
        </div>

        <div class="mainbody_right">
            <h2><i>Minimum password requirements</i></h2>
            <ul>
                <li>At least ten (10) characters long</li>
                <li>Must contain at least one (1) uppercase letter</li>
                <li>Must contain at least one (1) lowercase letter</li>
                <li>Must contain at least one (1) symbol</li>
            </ul>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}