<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - POMS</title>

    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



</head>
<body>

    <aside class="sidebar">
        <div class="sidebar-logo">
            <img src="@Url.Content("~/images/Prudencia-Logo.png")" alt="POMS Logo" loading="lazy">
        </div>
        <ul class="sidebar-menu">
            <!--Will show on the sidebar depending on the user Role-->
            <!--ADMIN-->
            @if (User.IsInRole("Admin"))
            {
                //link href to /[folder name]/[cshtml name]
                <li class="nav-item">
                    <a class="nav-link" href="/LearnerModels/Index" aria-label="Learners Database">
                        <i class="fa-solid fa-book-open-reader"></i> Learners Database
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/FacultyModels/Index" aria-label="Faculty Database">
                        <i class="fa-solid fa-chalkboard-user"></i> Faculty Database
                    </a>
                </li>
            }
            <!--Faculty-->
            @if (User.IsInRole("Faculty"))
            {
                //link href to /[folder name]/[cshtml name]
                <li class="nav-item">
                    <a class="nav-link" href="#" aria-label="Encode Grades">
                        <i class="fa-solid fa-clipboard-list"></i> Encode Grades
                    </a>
                </li>
            }
            @if (User.IsInRole("Learner"))
            {
                //link href to /[folder name]/[cshtml name]
                <li class="nav-item">
                    <a class="nav-link" href="#" aria-label="Grades">
                        <i class="fa-solid fa-file-lines"></i> Grades
                    </a>
                </li>
            }
            @if (User.IsInRole("Parent"))
            {
                //link href to /[folder name]/[cshtml name]
                <li class="nav-item">
                    <a class="nav-link" href="#" aria-label="Grades">
                        <i class="fa-solid fa-file-lines"></i> Grades
                    </a>
                </li>
            }
            @if (User.IsInRole("Learner") || User.IsInRole("Parent"))
            {
                //link href to /[folder name]/[cshtml name]
                <li class="nav-item">
                    <a class="nav-link" href="/OtherPage/FAQs" aria-label="FAQ">
                        <i class="fa-solid fa-circle-question"></i> Frequently Asked Questions
                    </a>
                </li>
            }
            @if (User.IsInRole("Learner") || User.IsInRole("Parent") || User.IsInRole("Admin") || User.IsInRole("Faculty"))
            {
                //link href to /[folder name]/[cshtml name]
                <li class="nav-item">
                    <a class="nav-link" href="#" aria-label="Help Center">
                        <i class="fa-solid fa-handshake"></i> Help Center
                    </a>
                </li>
            }
        </ul>
        <ul class="sidebar-bottom">
            <li>
                <a class="nav-item" href="/Account/FP_GetEmail">
                    <i class="fa-solid fa-user"></i> Profile
                </a>
            </li>
            <li>
                <a class="nav-item" href="/Account/FP_ChangePassword">
                    <i class="fa-solid fa-key"></i> Change Password
                </a>
            </li>
            <li>
                <a class="nav-item" href="/Account/LoginPage">
                    <i class="fa-solid fa-right-from-bracket"></i> Logout
                </a>
            </li>
        </ul>


    </aside>    
    <div class="content-wrapper">
        <!--Main Content Here-->
        <main>
            @RenderBody()
        </main>
    </div>

</body>
</html>